/* Write your CSS here */
.tabs {
  list-style: none;
}
.btn {
  background-color: transparent;
  padding: 5px 25px;
  border: none;
  border-bottom: 2px solid #dfe2e5;
  color: #7b8794;
  font-size: 20px;
  cursor: pointer;
}
.active-class {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
